<% provide(:page_title, "Individual Rankings") %>
<div class='container title-panel'>Individual Rankings</div>

<div class='container content-panel' style='z-index: 0'>
    <h1><strong>Attorneys</strong></h1>
    <div class='col-xs-6'>
        <h2><strong>Plaintiff:</strong></h2>
        <table class='table'>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Ranks</th>
                </tr>
            </thead>
            <tbody>
                <% Student.order(p_attorney_ranks: :desc).limit(7).each do |s| %>
                    <tr>
                        <td><%= s.name %></td>
                        <td><%= s.p_attorney_ranks %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
    <div class='col-xs-6'>
        <h2><strong>Defense:</strong></h2>
        <table class='table'>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Ranks</th>
                </tr>
            </thead>
            <tbody>
                <% Student.order(d_attorney_ranks: :desc).limit(7).each do |s| %>
                    <tr>
                        <td><%= s.name %></td>
                        <td><%= s.d_attorney_ranks %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
    <hr class='col-xs-12'>

    <h1><strong>Witnesses</strong></h1>
    <div class='col-xs-6'>
        <h2><strong>Plaintiff:</strong></h2>
        <table class='table'>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Ranks</th>
                </tr>
            </thead>
            <tbody>
                <% Student.order(p_witness_ranks: :desc).limit(7).each do |s| %>
                    <tr>
                        <td><%= s.name %></td>
                        <td><%= s.p_witness_ranks %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
    <div class='col-xs-6'>
        <h2><strong>Defense:</strong></h2>
        <table class='table'>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Ranks</th>
                </tr>
            </thead>
            <tbody>
                <% Student.order(d_witness_ranks: :desc).limit(7).each do |s| %>
                    <tr>
                        <td><%= s.name %></td>
                        <td><%= s.d_witness_ranks %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>