<% provide(:page_title, 'Rules') %>
<div class="container title-panel">Rules</div>

<div class="container content-panel">
  <p>
    The Show Me Mock Trial Invitational is governed by the Show Me Mock Trial Rules of Competition and the National
    High School Mock Trial Rules of Evidence, which can be found below. The ballot and comment sheet that will be used
    for this competition are also available below.<br><br>
    <ul>
      <li><%= link_to 'Rules of Competition', rules_ShowMeCompRules_path, target: '_blank'%></li>
      <li><%= link_to 'Rules of Evidence', rules_ShowMeRulesEvidence_path, target: '_blank' %></li>
      <li><%= link_to 'FAQs', rules_highlights_path %></li>
      <li><%= link_to 'Read the Case', case_download_path, target: '_blank' %></li>
      <li><%= link_to 'Show Me Mock Trial Ballot', ballot_path, target: '_blank' %></li>
      <li><%= link_to 'Show Me Mock Trial Comment Sheet', comments_path, target: '_blank' %></li>
    </ul>
    Changes:
        <ul>
            <li>9-15: Rule 3.4 now permits one attorney to do two pre-trial motions if only three attorneys are used.</li>
            <li>9-16: Section 5.4(b) updated to explain individual ranking points and awards.</li>
        </ul>
  </p>
</div>