<header class='navbar navbar-expand flex-column flex-md-row bd-navbar' style='z-index: 1000'>
	<nav>
  		<div class="navbar-nav-scroll">
  			<ul class="nav navbar-nav flex-row">
  				<li><%= link_to "Home", root_path, class: 'nav-link' %></li>
  				<li class="dropdown">
            <%= link_to "About", about_path, class: 'nav-link' %>
            <ul class='nav flex-column'>
              <li><%= link_to "Info", about_path, class: 'dropdown-content nav-link' %></li>
              <li><%= link_to "Schedule", schedule_path, class: 'dropdown-content nav-link' %></li>
              <li><%= link_to "Location", location_path, class: 'dropdown-content nav-link' %></li>
              <li><%= link_to "Deadlines", deadlines_path, class: 'dropdown-content nav-link' %></li>
            </ul>
          </li>
  				<li><%= link_to "Contact", contact_path, class: 'nav-link' %></li>
          <li><%= link_to "Rules", rules_path, class: 'nav-link' %></li>
          <li><%= link_to "Case Materials", case_path, class: 'nav-link' %></li>

          <% if current_user&.admin? %>
            <li><%= link_to "Coaches", list_path, class: 'nav-link' %></li>
            <li><%= link_to "Trials", trials_list_path, class: 'nav-link' %></li>
            <li><%= link_to "Student Rankings", students_rankings_path, class: 'nav-link' %></li>
          <% end %>

          <% if !logged_in? %>
            <li><%= link_to "Login", login_path, class: 'nav-link' %></li>
            <li><%= link_to "Register Now!", signup_path, class: 'signup-button nav-link' %></li>
          <% else %>
            <li><%= link_to "Profile", profile_path, class: 'nav-link' %></li>
            <li><%= link_to "Logout", logout_path, method: :delete, class: 'nav-link' %></li>
          <% end %>
        </ul>
  		</div>
	</nav>
</header>